DJANGO_SECRET_KEY=skibididwerhaksdkfaj281-dfh237osj2odfk-ddsaw
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 crm.gazlogistic.com
CSRF_TRUSTED_ORIGINS=https://crm.gazlogistic.com

DB_NAME=crm_db
DB_USER=crm_user
DB_PASSWORD=crmpass
DB_HOST=db

